<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Health Questions</title>
    <style>
      .top-half-bg {
        background-color: #253e48;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="top-half-bg flex justify-center items-center h-1/3 w-full">
      <h2 class="text-3xl font-bold text-white mt-4 text-center">
        Health Questions
      </h2>
    </div>

    <div
      class="container max-w-lg mx-auto bg-white mt-8 p-6 rounded-t-3xl shadow-lg"
    >
      <form action="/health-questions" method="POST" class="space-y-6">
        <input type="hidden" name="patientId" value="<%= patientId %>" />

        <div class="mb-4">
          <label class="block text-gray-700 font-semibold mb-2">
            Did you have gray hair before having children?
          </label>
          <div class="flex items-center space-x-6">
            <label class="flex items-center">
              <input type="radio" name="grayHair" value="Yes" class="form-radio
              text-blue-600" <%= patient.gray_hair === true ? 'checked' : '' %>
              required>
              <span class="ml-2 text-gray-700">Yes</span>
            </label>
            <label class="flex items-center">
              <input type="radio" name="grayHair" value="No" class="form-radio
              text-blue-600" <%= patient.gray_hair === false ? 'checked' : '' %>
              required>
              <span class="ml-2 text-gray-700">No</span>
            </label>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-semibold mb-2">
            Have you ever broken a bone after 16 years old?
          </label>
          <div class="flex items-center space-x-6">
            <label class="flex items-center">
              <input type="radio" name="brokenBone" value="Yes"
              class="form-radio text-blue-600" <%= patient.broken_bone === true
              ? 'checked' : '' %> required>
              <span class="ml-2 text-gray-700">Yes</span>
            </label>
            <label class="flex items-center">
              <input type="radio" name="brokenBone" value="No" class="form-radio
              text-blue-600" <%= patient.broken_bone === false ? 'checked' : '' %>
              required>
              <span class="ml-2 text-gray-700">No</span>
            </label>
          </div>
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 font-semibold mb-2">
            Do you trip over small stones while walking?
          </label>
          <div class="flex items-center space-x-6">
            <label class="flex items-center">
              <input type="radio" name="tripOver" value="Yes" class="form-radio
              text-blue-600" <%= patient.trip_over === true ? 'checked' : '' %>
              required>
              <span class="ml-2 text-gray-700">Yes</span>
            </label>
            <label class="flex items-center">
              <input type="radio" name="tripOver" value="No" class="form-radio
              text-blue-600" <%= patient.trip_over === false ? 'checked' : '' %>
              required>
              <span class="ml-2 text-gray-700">No</span>
            </label>
          </div>
        </div>

        <div class="text-center mt-6 flex justify-between">
          <a
            href="/intake?patientId=<%= patientId %>"
            class="bg-gray-500 text-white px-6 py-3 rounded-full shadow-lg hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500"
            >Back</a
          >
          <button
            type="submit"
            class="bg-orange-500 text-white px-6 py-3 rounded-full shadow-lg hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-orange-500"
          >
            Next
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
